<html>
  <head>
    <div class="navbar navbar-expand-sm ">

      <div class="navbar-left">
        <div class="logo-btn-sm">
          <%= link_to "ART´hüs", root_path, class: "nav-link" %>
        </div>
      </div>



      <div class="navbar-right">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>



        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Über uns", informations_about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Kontakt", contacts_new_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Preise", informations_price_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Lage", flats_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Appartments", appartments_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
            </li>
        </ul>
      </div>
</div>

  </head>

  <body>
  </body>

</html>

